export(download_dryadmetadata)
export(download_url)
export(dryad_getfile)
export(getalldryad_metadata)
export(identify)
export(listidentifiers)
export(listmetadataformats)
export(search_dryad)
export(totimp)
export(totimp_dryad)
import(OAIHarvester)
import(RCurl)
import(RJSONIO)
import(ReadImages)
import(XML)
import(ape)
import(gdata)
import(plyr)
import(stringr)
