http_interactions:
- request:
    method: get
    uri: https://datadryad.org/api/v2/datasets
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"34f8bee248e9aa9f5fe89a618aa21155"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"_links":{"self":{"href":"/api/v2/datasets"},"first":{"href":"/api/v2/datasets"},"last":{"href":"/api/v2/datasets?page=3389"},"next":{"href":"/api/v2/datasets?page=2"}},"count":10,"total":33888,"_embedded":{"stash:datasets":[{"_links":{"self":{"href":"/api/v2/datasets/doi%3A10.5061%2Fdryad.7rh4625"},"stash:versions":{"href":"/api/v2/datasets/doi%3A10.5061%2Fdryad.7rh4625/versions"},"stash:version":{"href":"/api/v2/versions/93"},"stash:download":{"href":"/api/v2/datasets/doi%3A10.5061%2Fdryad.7rh4625/download"},"curies":[{"name":"stash","href":"https://github.com/CDL-Dryad/stash/blob/master/stash_api/link-relations.md#{rel}","templated":"true"}]},"identifier":"doi:10.5061/dryad.7rh4625","id":93,"storage_size":999901812,"title":"Data
        from: Distinct predatory behaviors in scimitar- and dirk-toothed sabertooth
        cats","authors":[{"firstName":"Borja","lastName":"Figueirido"},{"firstName":"Stephan","lastName":"Lautenschlager","affiliation":"University
        of Birmingham","affiliationROR":"https://ror.org/03angcq70"},{"firstName":"Alejandro","lastName":"Perez-Ramos"},{"firstName":"Blaire","lastName":"Van
        Valkenburgh","affiliation":"University of California System","affiliationROR":"https://ror.org/00pjdza24"}],"abstract":"Over
        the Cenozoic, large cat-like forms have convergently evolved into specialized
        killers of ‘megaherbivores’ that relied on their large, and laterally-compressed
        (saber-like) canines to rapidly subdue their prey [1-5].  Scimitar- and dirk-toothed
        sabertooths are distinct ecomorphs that differ in canine tooth length, degree
        of serration, and postcranial features indicative of dissimilar predatory
        behavior [6-13].  Despite these differences, it is[...]
